<form method="GET" action="/predict">
  1. Number of times pregnant <input name="1" /> <br />
  2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test
  <input name="2" /> <br />
  3. Diastolic blood pressure (mm Hg) <input name="3" /> <br />
  4. Triceps skin fold thickness (mm) <input name="4" /> <br />
  5. 2-Hour serum insulin (mu U/ml) <input name="5" /> <br />
  6. Body mass index (weight in kg/(height in m)^2) <input name="6" /> <br />
  7. Diabetes pedigree function <input name="7" /> <br />
  8. Age (years) <input name="8" /> <br />
  Submit <input type="submit" />
</form>
